*{
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* Navbar */
nav {
    background-color: #ffe4c4;
    height: 5vh;
}

.manage-element {
    display: flex;
    padding: 1rem;
}

.add-element {
    display: flex;
    flex-direction: row;
    margin-right: 5rem;
    gap: 1.5rem;    
}

/* Add Shape */
.select-shape-type {
    position: absolute;
    z-index: 2;
    top: 4rem;
    left: 3.5rem;
    
    background-color: rgb(236, 168, 85);
    padding: 1rem;
    border-radius: 0 0 10px 10px;
    display: none; /* flex */
    gap: 1.5rem;
    width: fit-content;
    height: fit-content;
}

.shape:hover {
    transform: scale(1.2);
}

.shape:active {
    transform: scale(0.8);
}

.tools {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.tools > * {
    align-items: center;
}

.nav-group {
    display: flex;
    gap: 1rem;
}

.manage-element img {
    width: 2.5rem;
}

.tools img {
    width: 1.5rem;
}

select {
    padding: 0.3rem 2rem;
    border: 1px solid black;
    border-radius: 5px;
}

#font-size {
    font-size: 16px;
    font-weight: bold;
    padding: 0.2rem 0.1rem;
    text-align: center;
    width: 3rem;
}

.tool-active {
    box-sizing: border-box;
    background-color: #e3c196;
    border: 2px solid #9bc8ff;
    border-radius: 5px;
    padding: 2px;
}

.border-style {
    display: flex;
}

.border-width, .border-radius {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
}

#border-width-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: 3px solid black;
}

.border-type {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 0 1rem;
}

.border-div {
    width: 1.8rem;
    height: 1.8rem;
    border: 2px solid black;
}


#border-radius-icon {
    width: 1.5rem;
    height: 1.5rem;
    border: solid black;
    border-width: 3px 0 0 2px;
    border-radius: 20px 0 0 0;

}

.slider {
    width: 5rem;
}

/* Edit Board */
.edit-board {
    background-color: rgb(207, 207, 207);
    width: 100vw;
    height: 91.5vh;
}

.business-card {
    background-color: #fff;
    width: 10.5in;
    height: 6in;
    margin: auto;
    position: relative;
    top: 5rem;
    box-shadow: 0px 0px 10px 5px rgb(174, 174, 174);
}

#business-card {
    width: 10.5in;
    height: 6in;
}